{{page-title "Welcome Page"}}


<div class="contents">
    {{!-- <FloorComponent></FloorComponent>
    <FloorComponent></FloorComponent>
    <FloorComponent></FloorComponent> --}}
    {{!-- {{this.demo.bikes}} --}}
</div>

