{{yield}}

<div class="menu"><br><br><br><br><br>
    <div class="navigator" {{action 'book'}}>Book</div><br>
    <div class="navigator" {{action 'trackVehicle'}}>Track</div><br>
    <div class="navigator" {{action 'payBill'}}>Pay-bill</div><br><br>
</div>


