.myBody{
    background-color: black;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

input{
    height: 30px;
    width: 220px;
    border-radius: 15px;
    font-size: medium;
}

.select{
    height: 30px;
    width: 90px;
    font-size: medium;
    border: solid;
    border-radius: 10px;
    background-color: antiquewhite;
    display: table-cell;
    vertical-align: middle;
}

.container{
    height: 70%;
    width: 45%;
    border-radius: 30px;
    background-color: orange;
    overflow: auto;
    
     position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.roleOption{
    height: 35px;
    width: 220px;
    border-radius: 15px;
    font-size: medium;
}

#createButton{
    position: absolute;
    bottom: 5%;
}

.menu{
    width: 190px;
    height: 100%;
    border-right-style: groove;
    background-image: repeating-linear-gradient( skyblue , white, skyblue); 
}

.top-menu{
    position: absolute;
    top: 0%;
    margin-left: 190px;
    border-bottom-style: groove;
    width: 86%;
    height: 90px;
    overflow: auto;
}

.filter{
    width: 110px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(219, 236, 250);
    position: absolute;
    bottom: 5%;
    right: 200px;
}

.filter:hover{
    background-color: rgb(193, 223, 250);
}

.fa-sort-alpha-asc{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: absolute;
    bottom: 7%;
    right: 170px;
}

.fa-sort-alpha-asc:hover{
    background-color: rgb(193, 223, 250);
}

.fa-sort-alpha-desc{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: absolute;
    bottom: 7%;
    right: 140px;
}

.fa-sort-alpha-desc:hover{
    background-color: rgb(193, 223, 250);
}

.contents{
    position: absolute;
    top: 90px;
    margin-left: 190px;
    width: 86%;
    height: 80%;
    overflow: auto;
}

.window{
    height: 300px;
    width: 40%;
    border-radius: 30px;
    background-color: aqua;
    box-shadow: 3px 3px 30px 2px ;
    display: none;
    text-align: center;
    overflow: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.main{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    /* background-image: repeating-linear-gradient( skyblue , white, skyblue);  */
    z-index: -1;
}
button {
    height: 40px;
    width: 65px;
    display: inline;
    color: #fff;
    background-color: green;
    padding: 8px;
    margin: auto;
    border-radius: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: none;
}
.link{
    color: black;
    text-decoration: none;
}
button:hover{
    background-color: rgb(8, 91, 63);
}

#info{
    height: 10px;
    border: solid;
    height: 10px;
    width: 10px;
}
.AvailableInfo{
    background-color: aqua;
}

.UnavailableInfo{
    background-color: red;
}

.RestrictedInfo{
    background-color: yellow;
}

#myTable{
    width: 90%;
    border-radius: 15px;
    box-shadow: 5px 5px 30px 2px ;
    background-color: white;
}

.infoTable{
    position: absolute;
    right: 120px;
    top: 10px;
}

.Available{
    display: table-cell;
    border-top-style :dotted;
    border-bottom-style: dashed;
    border-left-style: solid;
    border-right-style: solid;
    padding: 20px;
    background-color: rgb(113, 241, 241);
    vertical-align: middle;
}

.Available:hover{
    background-color: rgb(169, 240, 83);
}

.Unavailable{
    display: table-cell;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-left-style: solid;
    padding: 20px;
    background-color: red;
}

.selected{
    display: table-cell;
    border: solid;
    padding: 20px;
    background-color: orange;
    vertical-align: middle;
}

.Restricted{
    display: table-cell;
    border: solid;
    padding: 20px;
    background-color: yellow;
    vertical-align: middle;
}

#vehicleType{
    width: 100px;
}

#price{
    width: 100px;
}

#blockRow,td{
    height:60px;
    text-align: center;
    border-radius:10px;
}

.logOut{
    position: absolute;
    right: 3%;
    top: 3%;
}

.navigator{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color:aqua;
    box-shadow: 5px 5px 10px 1px ;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.navigator:hover{
    width: 140px;
    height: 55px;
    border-radius: 33px;
    /* background-color: rgb(159, 250, 241);  */
    box-shadow: 5px 5px 40px 1px ;
}

.trackMenu{
    width: 30%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(172, 236, 215);
}

.vehicleInfo{
    width: 70%;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /* vertical-align: middle;
    text-align: center;
    justify-content:center;
    align-items:center; */
    position: absolute;
    top: 0%;
    right: 0%;
}

.vehicle{
    width: 100%;
    height: 12%;
    background-color: rgb(215, 241, 248);
    border-bottom: aquamarine;
    border-bottom-style: groove;
    border-radius: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}

.image{
    height: 55px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 10px 2px ;
    margin-right: 20px;
}


.vehicleImages{
    position: absolute;
    left: 5%;
    top: 15px;
}



/******************************************************************/


.building{
    height: 435px;
    width: 40%;
    border-radius: 30px;
    box-shadow: 3px 3px 20px 2px ;
    margin-top: 1%;
    margin-bottom: 4%;
    overflow: auto;
    margin-left: 28%;
    background-color: white;
}

.building:hover{
    font-size: large;
    height: 465px;
    width: 50%;
    border-radius: 35px;
    box-shadow: 3px 3px 40px 2px ;
    margin-left: 23%;
}

.building h3{
    margin-left: 30px;
    line-height: 0;
}

.building p{
    margin-left: 60px;
}

#editButton{
    width: 100px;
    background-color: antiquewhite;
}

.editor{
    margin-top: 30px;
    position: absolute;
    /* top: 50px;
    left: 58%; */
}

.floor{
    width: 80%;
    /* width: auto; */
    min-height : 200px;
    box-shadow: 3px 3px 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 80px;
    /* display: table-cell; */
    padding: 20px;
    overflow: auto;
}

.row{
    display: table-row;
    padding: 20px;
}

.block{
    /* width: 40px;
    height: 30px; */
    border-radius: 20px;
    display: table-cell;
    border: solid;
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.place{
    display: table-cell;
    border: solid;
    /* padding: 20px; */
}

.newPlace{
    justify-content: center;
    display: table-cell;
    border: solid;
    padding: 20px;
    vertical-align: middle;
}

#newRow{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: table;
}
span{
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.vehicleType{
    height: 35px;
    width: 225px;
    font-size: medium;
    border: solid;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
}

.place-spacing{
    display: table-cell;
    width: 20px;    
}

.row-detail{
    display: table-cell;
}